#mainMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80pt;
    font-weight: 900;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);

    transition: opacity 0.5s ease-out; 
    opacity: 1; 
}


#board {
    overflow: scroll;
    position: fixed;
    left: 25vw;
    top: 10vh;
}

canvas {
    padding: 3px;
}

body {
    cursor: none;
}

#cursor {
    background-color: orange;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    transform: translate(-10%, -10%);
    z-index: 101;
}

#gameOver {
    display: none;
    background-color: black;
    position: fixed;
    left: 37.5vw;
    top: 1vh;
    font-weight: bold;
    font-size: 40pt;
    color: red;
    z-index: 2;
}

#stopwatch {
    position: fixed;
    left: 3vw;
    top: 15vh;
    font-size: 40pt;
    color: black;
    background-color: darkgray;
}

#bombCountDiv {
    display: flex;
    position: fixed;
    left: 3vw;
    top: 25vh;
    font-size: 35pt;
    color: black;
    background-color: darkgray;
}

#scoreboard {
    position: fixed;
    left: 80vw;
    top: 10vh;
    background-color: darkgray;
    height: 40vh;
}

#scoreboard ol {
    max-height: 28vh;
    overflow-y: scroll;
}

.planeRow {
    white-space: nowrap;
    width: 100%;
    box-sizing: border-box;
}